@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewBag.Title = "Resource List";
}

<!-- Add Resource Modal -->
<div class="modal fade" id="addResourceModal" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Resource</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="addResourceModalBody">
                <!-- The partial view will be loaded here via AJAX -->
            </div>
        </div>
    </div>
</div>

<div class="d-sm-flex justify-content-between mb-3 mt-3">
    <h3 class="dashboard" style="color: #0066a7;">
        Resource Management
    </h3>

    <div class="seachbar d-flex justify-content-end">

        <div class="d-flex" style="position: relative; margin-right: 10px; height: 50px;">
            <input id="ResourceListSearch" type="text" class="form-control search-input d-flex" placeholder="Search">
            <img width="18" height="20" src="~/images/search-icon.svg" alt="..."
                class="search-icon d-flex" style="position: absolute; top: 15px; right: 17px;">
        </div>

        @if (User.IsInRole("Admin"))
        {
        <p>
            <button data-bs-toggle="modal" data-bs-target="#addResourceModal" class="btn btn-primary btn-sm" style="height: 50px;" onclick="populateAddResourceModal(this)">+ Create Resource</button>
        </p>
        }
    </div>
</div>

<!-- Loader -->
<div id="loader" class="loader-overlay" style="">
  <div class="spinner-border text-primary" style="width: 4rem; height: 4rem;">
  </div>
</div>

@* partial view to Resourcelist *@
<div id="resourcelist-container"></div>
</div>

@section Scripts {
<script>
    var sortColumn = 'Id'; 
    var sortDirection = 'asc';
    
    $(document).ready(function () {
        $("#resourcelist-container").hide();
        showLoader();

        setTimeout(function() {
            $.ajax({
                url: "/Resource/ResourceList",
                type: "GET",
                success: function (response) {
                    hideLoader();
                    $('#resourcelist-container').html(response); 
                },
                error: function (xhr) {
                    hideLoader();
                    console.error(xhr.responseText);
                    toastr.error("Error Resourcelist patialview");
                },
                complete: function() {
                    setTimeout(function() {
                        $("#resourcelist-container").show();
                    }, 500); 
                }
            });
        }, 500); 

         @* code for searchbar *@
        $("#ResourceListSearch").on("input", function () {
            setTimeout(function () {
                loadResourceList(1, sortColumn, sortDirection);
            }, 500); 
        });

         @* code for sorting column wise*@
        $('#resourcelist-container').on('click','th i',function () {
            var column = $(this).data('column');
            var direction = $(this).data('direction');
            
            // Toggle sorting direction
            if (direction === 'asc') {
                $(this).data('direction', 'desc');
                $(this).siblings('i').data('direction', 'asc');
            } else {
                $(this).data('direction', 'asc');
                $(this).siblings('i').data('direction', 'desc');
            }
                
            // Set sorting parameters
            sortColumn = column;
            sortDirection = $(this).data('direction');
            
            loadResourceList(1, sortColumn, sortDirection); 
        });

        // Edit resource get method partial view
        $('#resourcelist-container').on('click','.editResourceBtn', function () {
            var resourceId = $(this).data('id'); 
            $.ajax({
            url: '@Url.Action("EditResource", "Resource")', 
            type: 'GET',
            data: { id:resourceId },
            success: function (response) {
                $('#editResourceModalBody').html(response);
            },
            error: function () {
                toastr.error("Error Fetch Resource Data.")
            }
            });
        });

        $('#resourcelist-container').on('click', '.bi-trash', function () {
            var resourceId = $(this).data('id');

            var deleteForm = $('#deleteResourceForm');
            deleteForm.attr('action', '/Resource/Delete/' + resourceId);
        });
        
    });

     //add resource
    function populateAddResourceModal(element){
        $.ajax({
            url: '@Url.Action("AddResource", "Resource")', 
            type: 'GET',
            success: function (response) {
                $('#addResourceModalBody').html(response);
            },
            error: function (error) {
                toastr.error("Error loading the partial view");
            }
        }); 
    }

    @* pagination script start *@  
                
    function loadResourceList(page, sortColumn = 'Id' , sortDirection = 'asc') {
        //get table list
        var pageSize = $("#ordersPerPage").val();
        var searchTerm = $("#ResourceListSearch").val().toLowerCase();
        $("#resourcelist-container").hide();

        showLoader();

        setTimeout(function() {
            $.ajax({
                url: "/Resource/ResourceList",
                type: 'GET',
                data: { page :page, pageSize:pageSize , search: searchTerm, sortColumn: sortColumn, sortDirection: sortDirection },
                success: function (data) {
                    hideLoader();
                    $('#resourcelist-container').html(data);
                },
                error: function () {
                    hideLoader();
                    toastr.error('Error loading orderlist table.');
                },
                complete: function() {
                    setTimeout(function() {
                        $("#resourcelist-container").show();
                    }, 500); 
                }
            }); 
        }, 500);
    }

    // Change Items Per Page
    function changeResourcelistPageSize(select) {
        loadResourceList(1,sortColumn, sortDirection);
    }

    // Change Page
    function changeResourcePage(newPage) {
        loadResourceList(newPage,sortColumn, sortDirection);
    }

    @* pagination script end *@
</script>
}
