<!DOCTYPE html>
<html>
<head>
    
    <title>Reset Your Password</title>
    <style>
        .notes{
            color: yellow;
        }
        .PizzaShop{
            display:flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: blue;
            height: 50px;
            width: 100%;
        }   
        
    </style>
</head>
<body>
    <div class="PizzaShop" style="display:flex;justify-content:center;align-items:center;">
        <img style="" src="C:/Users/jigne/Downloads/pizzashop6/pizzashop/PizzaShop.Web/wwwroot/images1/logos/pizzashop_logo.png" alt="">
        <div style="font-size: larger;display:flex;justify-content:center;align-align-items:center;">User Management</div>
    </div>

    <p>User Management,</p>

    <p>please Click <a href="{{ResetLink}}" style="color: blue; font-weight: bold;">here</a> for reset your account Password.</p>

    <p>if you encounter any issues or have any question, please do not hastiate to contact our <br> support team.</p>

    <p><span class="notes">Important Note:</span> For security reasons, the link will expire in 24 hours. if you did not
    request a password <br>reset, please ignore this email or contact our support team immediately.</p>

    <p>Thank you!<br>PizzaShop Team</p>
</body>
</html>

