body{
    display: block;
    height: 100vh;
    width: 100vw;
}

.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

/* Create button styling */
.btn-primary {
    background-color: #93d3f6 !important;
    border: 1px solid #e6f4fc !important;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
    border: 2px solid #9bc1d8 !important;
    color: #4fa1cf !important;
    background-color: #fff !important;
}

.btn-outline-primary {
    --bs-btn-color: #93d3f6 !important;
    --bs-btn-border-color: #93d3f6 !important;
    --bs-btn-hover-border-color: #eef1f3 !important;
    --bs-btn-hover-color: #8f7676;
    --bs-btn-hover-bg: #93d3f6 !important;
}

.leftimage{
    display: block;
    height: 505px;
    width: 34vw;
    background-image: url("/images/user.png"); 
    background-color: #cccccc; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border-radius: 17px 0px 0px 17px;
}
.rightside{
    height: 428px;
        /* width: 30vw !important; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightpage{
    height: 505px;
}

.loginpage{
        display: flex;
        flex-direction: row;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        background-color: rgb(208, 224, 228);
}

.loginheader{
    color:darkslategray;
    
}
.annalysisform{
    height: 505px;
    border-radius: 0px 17px 17px 0px;
}
.emaillabel{
    width: 100%;
    text-align: left;
    color: darkslategray;
    font-family: inherit;
    font-size: large;
}

.text-center{
    width: 32vw;
}

.invalid-feedback{
    text-align: left;
}



@media (max-width:992px){
    .leftimage{
        position: absolute;
        height: 100vh;
        width: 100vw;
        opacity: .2;
        border-radius: 0px 0px 0px 0px;
    }
    .annalysisform{
        height: 435px;
    }
    .rightside{
        z-index: 1;
        height: 100vh;

        width: 80vw;
        background-color: transparent;
    }
    .rightpage{
        height: 505px;
         z-index: 1;
        background-color: transparent;
    }
    .text-center {
        width: 64vw;
    }
    .annalysisform{
        height: 505px;
        border-radius: 17px 17px 17px 17px;
    }
}

@media (max-width:420px){
    .rememberforgot{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
}