body{
    display: block;
    height: 100vh;
    width: 100vw;
}

.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

/* Create button styling */
.btn-primary {
    background-color: #93d3f6 !important;
    border: 1px solid #e6f4fc !important;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
    border: 2px solid #9bc1d8 !important;
    color: #4fa1cf !important;
    background-color: #fff !important;
}

.btn-outline-primary {
    --bs-btn-color: #93d3f6 !important;
    --bs-btn-border-color: #93d3f6 !important;
    --bs-btn-hover-border-color: #eef1f3 !important;
    --bs-btn-hover-color: #8f7676;
    --bs-btn-hover-bg: #93d3f6 !important;
}

.annalysisform{
    width: 34vw !important;
}

.dashboardpage{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        background-color: rgb(208, 224, 228);
}

.loginheader{
    color:darkslategray;
    
}

.emaillabel{
    width: 100%;
    text-align: left;
    color: darkslategray;
    font-family: inherit;
    font-size: large;
}

.text-center{
    width: 32vw;
}

.invalid-feedback{
    text-align: left;
}

@media (max-width:992px){
    .annalysisform{
    width: 70vw !important;
}

    
}

