@model UserManagement.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="main">


        <div class="loginpage d-flex shadow-lg p-3 " >
            <img alt="" class="leftimage shadow-lg p-3 rounded-left">  

            <div class="rightpage" style="height: 505px;">
                <div class="annalysisform p-2 shadow-lg p-3 bg-white rounded-right">
                    <div class="onecolomnmain" style="margin: 10px;">
                        <!-- header -->
                        <div class="header mb-3 d-flex">
                            <h3 class="text-center" style="color: #0066a7;">User Management</h3>
                        </div>

                        <h5 class="welcome mb-3">Reset Password</h5>

                        <!-- form -->
                        <form method="post" asp-action="ResetPassword" >
                           <div class="text-center mb-3">
                            
                                <input asp-for="UserId" type="hidden" />
                                <input asp-for="Token" hidden/>
                                <!-- Passwo rd input -->
                                <div data-mdb-input-init="" class="form-outline mb-4" data-mdb-input-initialized="true">
                                    <label class="emaillabel">New Password:</label>
                                    <div class="emailico position-relative">
                                        <input asp-for="NewPassword" type="password" id="password1" class="password form-control"
                                            aria-describedby="validationServer03Feedback" placeholder="Password*" >
                                    </div>
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    <div class="form-notch">
                                        <div class="form-notch-leading" style="width: 9px;"></div>
                                        <div class="form-notch-middle" style="width: 64.8px;"></div>
                                        <div class="form-notch-trailing"></div>
                                    </div>
                                </div>

                                <!--confirm Password input -->
                                <div data-mdb-input-init="" class="form-outline mb-4" data-mdb-input-initialized="true">
                                    <label class="emaillabel">Confirm Password:</label>
                                    <div class="emailico position-relative">
                                        <input asp-for="ConfirmPassword" type="password" id="password2" class="password form-control"
                                            aria-describedby="validationServer03Feedback" placeholder="Confirm Password*" >
                                    </div>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                                    <div class="form-notc   h">
                                        <div class="form-notch-leading" style="width: 9px;"></div>
                                        <div class="form-notch-middle" style="width: 64.8px;"></div>
                                        <div class="form-notch-trailing"></div>
                                    </div>
                                </div>

                                <!-- Submit button -->
                                <button type="submit" data-mdb-button-init="" data-mdb-ripple-init=""
                                    class="btn btn-primary btn-block mb-2" style="width: 100%;"
                                    data-mdb-button-initialized="true">Submit</button>

                                <!-- Register buttons -->
                                <div class="text-center">
                                    <p><a asp-action="Login">Back to Login</a></p>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
<script>
    $(document).ready(function () {
         @if(TempData["error"] != null)
        {
            <text>toastr.error('@TempData["error"]');</text>
        }
        @if(TempData["success"] != null)
        {
            <text>toastr.success('@TempData["success"]');</text>
        }
    });
</script>
}