@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewBag.Title = "User List";
}

<!-- delete model -->
<div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Conformation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"
                style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                <img style="height: 36px; width: 51px;" src="~/images/toppng.com-warning-icon-2400x2400.png"
                    alt="">
                <div class="form">
                    Are you sure You Want to delete this user?
                </div>
            </div>
            <div class="modal-footer">

                <form method="post" id="deleteUserForm" action="" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                
                <button type="button" class="btn  btn-light  " data-bs-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>

<div class="d-sm-flex justify-content-between mb-3 mt-3">
    <h3 class="dashboard" style="color: #0066a7;">
        User List
    </h3>

    <div class="d-flex">

        @if (User.IsInRole("Admin"))
        {
        <p>
            <a href="@Url.Action("Create", "User")" class="btn btn-primary btn-sm" style="height: 50px;">+ Add User</a>
        </p>
        }
    </div>
</div>

@* partial view to userlist *@
<div id="userlist-container"></div>
</div>

@section Scripts {
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/User/UserList",
            type: "GET",
            success: function (response) {
                $('#userlist-container').html(response); 
            },
            error: function (xhr) {
                console.error(xhr.responseText);
                toastr.error("Error userlist patialview");
            }
        });

        @if(TempData["error"] != null)
        {
            <text>toastr.error('@TempData["error"]');</text>
        }
        @if(TempData["success"] != null)
        {
            <text>toastr.success('@TempData["success"]');</text>
        }

        $('#userlist-container').on('click', '.bi-trash', function () {
            var userId = $(this).data('id');

            var deleteForm = $('#deleteUserForm');
            deleteForm.attr('action', '/User/Delete/' + userId);
        });
    });

    @* pagination script start *@  
                
    function loadUserList(page) {
        //get table list
        
        var pageSize = $("#ordersPerPage").val();

        taxAjaxRequest = $.ajax({

            url: "/User/UserList",
            type: 'GET',
            data: { page :page, pageSize:pageSize },
            success: function (data) {
                $('#userlist-container').html(data);
            },
            error: function () {
                toastr.error('Error loading orderlist table.');
            }
        }); 
    }

    // Change Items Per Page
    function changeUserlistPageSize(select) {
        loadUserList(1);
    }

    // Change Page
    function changeUserPage(newPage) {
        loadUserList(newPage);
    }

    @* pagination script end *@
</script>
}
