@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewBag.Title = "My Resource";
}
<!-- book Resource Modal -->
<div class="modal fade" id="bookResourceModal" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Book Resource</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="bookResourceModalBody">
                <!-- The partial view will be loaded here via AJAX -->
            </div>
        </div>
    </div>
</div>

<div class="d-sm-flex justify-content-between mb-3 mt-3">
    <h3 class="dashboard">
        My Resources
    </h3>

    <div class="seachbar d-sm-flex justify-content-end">

        <div class="d-flex mb-3 mt-1" style="position: relative; margin-right: 10px; height: 50px;">
            <input id="ResourceListSearch" type="text" class="form-control search-input d-flex" placeholder="Search">
            <img width="18" height="20" src="~/images/search-icon.svg" alt="..."
                class="search-icon d-flex" style="position: absolute; top: 15px; right: 17px;">
        </div>

        <div class="d-flex me-3">
            <!-- Time Filter Dropdown -->
            <div class="position-relative d-flex flex-grow-1 mt-1">
                <select class="form-control" id="timeFilter" style="height:50px;">
                    <option value="AllTime">All Time</option>
                    <option value="today">Today</option>
                    <option value="this_week">This Week</option>
                    <option value="this_month">This Month</option>
                </select>
            </div>

            <p>
                <button data-bs-toggle="modal" data-bs-target="#bookResourceModal" class="btn btn-primary btn-sm mt-1" style="height: 50px;" onclick="populateBookResourceModal(this)">+ Book Resource</button>
            </p>
        </div>
    </div>
</div>

<div class="resourcehistory d-sm-flex justify-content-start mb-1 shadow-sm bg-white rounded"
    style="height: 44px; background-color: #FFFFFF; border-radius: 5px ; ">
    <ul class="nav nav-pills mb-3 ms-2" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-linkK active" id="pills-resource-tab" type="button" role="tab">
                <div class="resource d-flex" style="width: 150px; border-bottom: 2px solid var(--accent-indigo);">
                    <i class="bi bi-list-task"
                        style="height: 25px; width: 25px; cursor: pointer; margin-top: 1px; color: var(--accent-indigo);"></i>
                    <div class="resource-text" style="color: var(--accent-indigo);">Active Resource</div>
                </div>  
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-linkK" id="pills-history-tab" type="button" role="tab">
                <div class="history d-flex" style="width: 150px !important; ">
                    <i class="bi bi-clock-history"
                        style="height: 25px; width: 25px; cursor: pointer; color: var(--accent-blue);"></i>
                    <div class="history-text" style="margin-left: 5px; color: var(--primary-slate); width: 150px ;">Resource History</div>
                </div>
            </button>
        </li>

    </ul>
</div>

<div class="tab-content" id="pills-tabContent">
    @* resources page *@
    <div class="tab-pane fade show active" id="pills-resource" role="tabpanel" aria-labelledby="pills-resource-tab">
        
        @* partial view to Resourcelist *@
        <div id="resourcelist-container"></div>            
    </div>

    @* history page *@
    <div class="tab-pane fade" id="pills-history" role="tabpanel" aria-labelledby="pills-history-tab">
        @* partial view to bookingHistorylist *@
        <div id="bookingHistorylist-container"></div>
    </div>
</div>


@section Scripts {
<script>
    var updatedQuantities = {};
    var resourcetab=true;
    var sortColumn = 'Id'; 
    var sortColumnForHistory = 'Id'; 
    var sortDirection = 'asc';
    var sortDirectionForHistory = 'asc';
    $(document).ready(function () {
        showLoader();

        setTimeout(function() {
            $.ajax({
                url: "/Booking/ActiveBookings",
                type: "GET",
                success: function (response) {
                    hideLoader();
                    $('#resourcelist-container').html(response); 
                },
                error: function (xhr) {
                    hideLoader();
                    console.error(xhr.responseText);
                    toastr.error("Error Resourcelist patialview");
                }
            });
        }, 500); 

        @* code for searchbar *@
        $("#ResourceListSearch").on("input", debounce(function () {
            if (resourcetab) {
                loadResourceList(1, sortColumn, sortDirection);
            }else{
                loadBookingHistoryList(1, sortColumnForHistory, sortDirectionForHistory); 
            }
        }, 500));

        @* code for statusFilter and timeFilter*@
        $(document).on("change", "#timeFilter", function () {
            if (resourcetab) {
                loadResourceList(1, sortColumn, sortDirection);
            } else {
                loadBookingHistoryList(1, sortColumnForHistory, sortDirectionForHistory);
            }
        });

         @* code for sorting column wise*@
        $('#resourcelist-container').on('click','th i',function () {
            var column = $(this).data('column');
            var direction = $(this).data('direction');
            
            // Toggle sorting direction
            if (direction === 'asc') {
                $(this).data('direction', 'desc');
                $(this).siblings('i').data('direction', 'asc');
            } else {
                $(this).data('direction', 'asc');
                $(this).siblings('i').data('direction', 'desc');
            }
                
            // Set sorting parameters
            sortColumn = column;
            sortDirection = $(this).data('direction');
            
            loadResourceList(1, sortColumn, sortDirection); 
        });

        @* code for sorting column wise*@
        $('#bookingHistorylist-container').on('click','th i',function () {
            var column = $(this).data('column');
            var direction = $(this).data('direction');
            
            // Toggle sorting direction
            if (direction === 'asc') {
                $(this).data('direction', 'desc');
                $(this).siblings('i').data('direction', 'asc');
            } else {
                $(this).data('direction', 'asc');
                $(this).siblings('i').data('direction', 'desc');
            }
                
            // Set sorting parameters
            sortColumnForHistory = column;
            sortDirectionForHistory = $(this).data('direction');
            
            loadBookingHistoryList(1, sortColumnForHistory, sortDirectionForHistory); 
        });
        
        $('.nav-linkK').click(function () {
            $('#pills-tab .nav-linkK').removeClass('active');
            $('#pills-tab .nav-linkK').find('.resource, .history').css('color', 'var(--primary-slate)');
            $('#pills-tab .nav-linkK').find('.resource-text, .history-text').css('color', 'var(--primary-slate)');
            $('#pills-tab .nav-linkK').find('.resource, .history').css('border-bottom', 'none');

            $(this).addClass('active');
            $(this).find('.resource, .history').css('color', 'var(--accent-indigo)');
            $(this).find('.resource-text, .history-text').css('color', 'var(--accent-indigo)');
            $(this).find('.resource, .history').css('border-bottom', '2px solid var(--accent-indigo)');
        });

        const tabs = new bootstrap.Tab(document.getElementById('pills-resource-tab'));

        // Override default tab switch for Home
        $('#pills-resource-tab').on('click', function (e) {
            resourcetab=true;
            $("#bookingHistorylist-container").hide();
            $("#resourcelist-container").hide();
            
                    loadResourceList(1, sortColumn, sortDirection);
                    switchTab('pills-resource', 'pills-resource-tab');
                setTimeout(function () {
                    $("#resourcelist-container").show();
                }, 500); 
        });

        // Override for History tab
        $('#pills-history-tab').on('click', function (e) {
            $("#resourcelist-container").hide();
            $("#bookingHistorylist-container").hide();
            resourcetab =false;
                    loadBookingHistoryList(1, sortColumnForHistory, sortDirectionForHistory);
                    switchTab('pills-history', 'pills-history-tab');
                setTimeout(function () {
                    $("#bookingHistorylist-container").show();
                }, 500);
        });

    });

    function highlightActiveArrowResourceList() {
        $('#resourcelist-container').find('i[data-column]').removeClass('active-arrow');

        if (sortDirection === "asc") {
            $(`#resourcelist-container i[data-column="${sortColumn}"][data-direction="desc"]`).addClass('active-arrow');
        } else {
            $(`#resourcelist-container i[data-column="${sortColumn}"][data-direction="asc"]`).addClass('active-arrow');
        }
    }

    function highlightActiveArrowBookingHistory() {
        $('#bookingHistorylist-container').find('i[data-column]').removeClass('active-arrow');

        if (sortDirectionForHistory === "asc") {
            $(`#bookingHistorylist-container i[data-column="${sortColumnForHistory}"][data-direction="desc"]`).addClass('active-arrow');
        } else {
            $(`#bookingHistorylist-container i[data-column="${sortColumnForHistory}"][data-direction="asc"]`).addClass('active-arrow');
        }
    }


    function switchTab(tabIdToShow, tabButtonId) {
        $('#pills-tab .nav-linkK').removeClass('active');
        $('.tab-pane').removeClass('show active');

        $(`#${tabButtonId}`).addClass('active');
        $(`#${tabIdToShow}`).addClass('show active');
    }


     //book resource
    function populateBookResourceModal(element){
        $.ajax({
            url: '@Url.Action("BookResource", "Booking")', 
            type: 'GET',
            success: function (response) {
                $('#bookResourceModalBody').html(response);
            },
            error: function (error) {
                toastr.error("Error loading the partial view");
            }
        }); 
    }

    @* pagination script start *@  
                
    function loadResourceList(page, sortColumn = 'Id' , sortDirection = 'asc') {
        //get table list
        var pageSize = $("#resourcePerPage").val();
        var searchTerm = $("#ResourceListSearch").val().toLowerCase();
        var timeFilter = $("#timeFilter").val();
        @* $("#resourcelist-container").hide(); *@

        if(resourcetab){
            showLoader();
        }

        setTimeout(function() {
            $.ajax({
                url: "/Booking/ActiveBookings",
                type: 'GET',
                data: { page :page, pageSize:pageSize , search: searchTerm, time: timeFilter, sortColumn: sortColumn, sortDirection: sortDirection },
                success: function (data) {
                    hideLoader();
                    $('#resourcelist-container').html(data);
                    highlightActiveArrowResourceList();
                },
                error: function () {
                    hideLoader();
                    toastr.error('Error loading resourcelist table.');
                }
                @* complete: function() {
                    setTimeout(function() {
                        $("#resourcelist-container").show();
                    }, 500); 
                } *@
            }); 
        }, 500);

    }

    // Change Items Per Page
    function changeResourcelistPageSize(select) {
        showLoader();
        loadResourceList(1,sortColumn, sortDirection);
    }

    // Change Page
    function changeResourcePage(newPage) {
        showLoader();
        loadResourceList(newPage,sortColumnForHistory, sortDirection);
    }

    @* pagination script end *@


    @*My Resource pagination script start *@  
                
    function loadBookingHistoryList(page, sortColumnForHistory = 'Id' , sortDirectionForHistory = 'asc') {
        //get table list
        var pageSize = $("#ordersPerPage").val();
        var searchTerm = $("#ResourceListSearch").val().toLowerCase();
        var timeFilter = $("#timeFilter").val();
        @* $("#bookingHistorylist-container").hide();
        $("#resourcelist-container").hide(); *@
        showLoader();

        setTimeout(function() {
            $.ajax({

                url: "/Booking/BookingHistory",
                type: 'GET',
                data: { page :page, pageSize:pageSize , search: searchTerm, time: timeFilter, sortColumn: sortColumnForHistory, sortDirection: sortDirectionForHistory},
                success: function (data) {
                    hideLoader();
                    $('#bookingHistorylist-container').html(data);
                    highlightActiveArrowBookingHistory();
                },
                error: function () {
                    hideLoader();
                    toastr.error('Error loading bookingHistorylist table.');
                }
                @* complete: function() {
                    setTimeout(function() {
                        $("#bookingHistorylist-container").show();
                    }, 500); 
                } *@
            }); 
        }, 500);
    }

    // Change Items Per Page
    function changeBookingHistorylistPageSize(select) {
        loadBookingHistoryList(1,sortColumnForHistory, sortDirectionForHistory);
    }

    // Change Page
    function changeBookingHistoryPage(newPage) {
        loadBookingHistoryList(newPage,sortColumnForHistory, sortDirectionForHistory);
    }

    @*My Resource pagination script end *@
</script>
}