@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewBag.Title = "My Resource";
}

<!-- book Resource Modal -->
<div class="modal fade" id="bookResourceModal" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Book Resource</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="bookResourceModalBody">
                <!-- The partial view will be loaded here via AJAX -->
            </div>
        </div>
    </div>
</div>

<div class="d-sm-flex justify-content-between mb-3 mt-3">
    <h3 class="dashboard" style="color: #0066a7;">
        My Resource
    </h3>

    <div class="d-flex">
        <p>
            <button data-bs-toggle="modal" data-bs-target="#bookResourceModal" class="btn btn-primary btn-sm" style="height: 50px;" onclick="populateBookResourceModal(this)">Book Resource</button>
        </p>
    </div>
</div>

@* partial view to Resourcelist *@
<div id="resourcelist-container"></div>
</div>

@section Scripts {
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Booking/ActiveBookings",
            type: "GET",
            success: function (response) {
                $('#resourcelist-container').html(response); 
            },
            error: function (xhr) {
                console.error(xhr.responseText);
                toastr.error("Error Resourcelist patialview");
            }
        });
        
    });

     //book resource
    function populateBookResourceModal(element){
        $.ajax({
            url: '@Url.Action("BookResource", "Booking")', 
            type: 'GET',
            success: function (response) {
                $('#bookResourceModalBody').html(response);
            },
            error: function (error) {
                toastr.error("Error loading the partial view");
            }
        }); 
    }

    @* pagination script start *@  
                
    function loadResourceList(page) {
        //get table list
        var pageSize = $("#ordersPerPage").val();

        taxAjaxRequest = $.ajax({

            url: "/Booking/ActiveBookings",
            type: 'GET',
            data: { page :page, pageSize:pageSize },
            success: function (data) {
                $('#resourcelist-container').html(data);
            },
            error: function () {
                toastr.error('Error loading orderlist table.');
            }
        }); 
    }

    // Change Items Per Page
    function changeResourcelistPageSize(select) {
        loadResourceList(1);
    }

    // Change Page
    function changeResourcePage(newPage) {
        loadResourceList(newPage);
    }

    @* pagination script end *@
</script>
}
